body,html{
  height: 100%;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: #121212;
}

.sprite{
  background-image:url(https://i.ibb.co/3hvnTvZ/sprite.jpg);
  min-width:200px;
  min-height:200px;
  animation: slidein .5s steps(5, end) infinite;
  border-radius:50%;
  background-size: 500% 100%;
}

@keyframes slidein {
  from {
    
  }

  to {
    background-position-x:500%;
  }
}

*{
  margin:.5rem;
}